---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About - Al Harkan";
const description = "Al Harkan's Bio, Contact, and Intro";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">At dawn from the gateway to Mars, the launch of Starship’s second flight test <a href="https://t.co/ffKnsVKwG4">pic.twitter.com/ffKnsVKwG4</a></p>&mdash; SpaceX (@SpaceX) <a href="https://twitter.com/SpaceX/status/1732824684683784516?ref_src=twsrc%5Etfw">December 7, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!-- <figure class="about-image">
      <img
        src="/assets/profile-pic.webp"
        alt="Headshot Photo of Al Harkan"
        width="330"
      /> -->
      <!-- <figcaption>
        Headshot Photo of Al Harkan
      </figcaption> -->
    </figure>
    <p>
      Hi, I'm Al, a Data Analyst in SuperApp, a Y-Combinator-backed company, and currently on my way to studying AI &amp; Media Research.
    </p>
    <p>
      I graduated from the University of Indonesia (M.Si. in Media Studies), and completed several trainings and certifications in Data Science, Advanced Data Analytics, and Project Management.
    </p>
    <p>
      P.S. The domain of this blog is just an anagram of my name.
    </p>
    <hr />
    <p>
      I watch explanatory &amp; documentary videos a lot —on science,
      technology, data science, web development, digital marketing, finance,
      startups; and I curate those videos in this library of <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.youtube.com/c/RaihanKalla/playlists"
        >YouTube playlists</a
      > &amp; <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/alhrkn/status/1269205603194269698?s=19"
        >Twitter threads.</a>
    </p>
    <p>
      I tweet about all <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/i/events/1393449352102694914"
        >the topics above</a
      >, doing my little part in science communication. I also make short videos
      on Instagram —check my <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://instagram.com/alhrkn">Stories Highlights</a
      >.
    </p>
    <p>With that being said, I can help you with:</p>
    <ul>
      <li>Data Analytics &amp; Visualization</li>
      <li>Digital Content Production</li>
      <li>Mobile Videography &amp; Journalism</li>
      <li>
        <p>Media Studies Research</p>
      </li>
    </ul>
    <p>
      Just <a href="mailto:alharkan7@gmail.com">Hit me up</a> or <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://calendar.app.google/QK3gqdsExy8rm3VX6"
        >schedule a call.</a>
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
