---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Short Threads - Al Harkan";
const description = "Collection of Short Threads by Al Harkan";
const permalink = `${Astro?.site?.href}short`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="shorts"
>
  <div class="container">
    <h1>Collection of Short Threads</h1>
    <p><b>Go to my <a href="https://x.com/alhrkn/highlights">Highlights</a> for more updated list.</b></p>
    <small>Open any tweet to read the full threads.</small>

    <blockquote class="twitter-tweet">
      <p lang="in" dir="ltr">
        Setelah 5 tahun di Jakarta, awal tahun ini saya kembali ke Jawa Timur.<br
        /><br />Satu hal yg menarik: kampus-kampus perguruan tinggi di sini
        berlomba membangun gedung-gedung tinggi, menara-menara megah.<br /><br
        />Yang sedihnya, hampir semua gedung baru itu kosong di 2 tahun pandemi.
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1526933166597935105?ref_src=twsrc%5Etfw"
        >May 18, 2022</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        A thread of legendary mathematician stories:<br /><br />#1 - Jon von
        Neumann <a href="https://t.co/vVga9OLigt">https://t.co/vVga9OLigt</a>
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1430491571519057927?ref_src=twsrc%5Etfw"
        >August 25, 2021</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        The computer now is so good at recognizing our faces with half of it
        covered, thanks to the current pandemic.<br /><br />Services like Google
        easily matched our bare face photos prior to 2020 with our faces
        throughout the pandemic, masked.<br /><br />Billions of datasets. Leap
        of accuracy. <a href="https://t.co/tGDzVgtYTI"
          >pic.twitter.com/tGDzVgtYTI</a
        >
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1494865215191588868?ref_src=twsrc%5Etfw"
        >February 19, 2022</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        How do we leverage AI —and its derivatives, to improve science
        communication?
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1461501420008394754?ref_src=twsrc%5Etfw"
        >November 19, 2021</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        I used to create videos everyday for 2+ years straight.<br /><br />My
        end goal was to learn filmmaking, but I knew nothing. So I started with
        what I had: my crappy phone.<br /><br />Read no books, watched no
        tutorials. Just kept shooting &amp; meticulously editing whatever.<br
        /><br />It was the most meaningful.. <a href="https://t.co/7sjQG2DyDu"
          >https://t.co/7sjQG2DyDu</a
        >
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1450779651580698629?ref_src=twsrc%5Etfw"
        >October 20, 2021</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        <a href="https://twitter.com/Apple?ref_src=twsrc%5Etfw">@Apple</a> doesn&#39;t
        hard sell their products on IG.<br /><br />Instead, we enjoy the result
        of their products quality —great photos &amp; videos.<br /><br />And
        this marketing approach leads to their undefeated sales number.<br /><br
        />Another reminder that people don&#39;t like to be told to buy
        something.<br /><br />Let &#39;em feel. <a
          href="https://t.co/3tp6K6JQza">pic.twitter.com/3tp6K6JQza</a
        >
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1435078828259373063?ref_src=twsrc%5Etfw"
        >September 7, 2021</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        A Life-long Thread of Gratitude<br /><br />I&#39;m grateful for having
        family who never stops checking on me, remember the tiniest detail of
        stories that I told them, reminding me to breathe whenever I&#39;m too
        hard on myself, and being supportive in their own ways.<br /><br />1/
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1418209085791510535?ref_src=twsrc%5Etfw"
        >July 22, 2021</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Most of our parents gen didn&#39;t know the potential of the internet
        back in early 90s.<br /><br />The image of world-wide interconnected
        computers via hi-speed connection was hard to comprehend back when
        average PC was so slow.<br /><br />Now, the world &amp; economy are
        inseparable from the internet.
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1356493528356900864?ref_src=twsrc%5Etfw"
        >February 2, 2021</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        All the ideas that ever came to my mind but never to execute *easily a
        thread.<br /><br />1: Git for Academic Writing (Paper, Thesis,
        Dissertation, or any writing projects)<br /><br />It&#39;s a bit crazy
        how it&#39;s not yet widely well-known in the academic community, esp.
        the social studies one.
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1327205937271115777?ref_src=twsrc%5Etfw"
        >November 13, 2020</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>

    <br />

    <blockquote class="twitter-tweet">
      <p lang="en" dir="ltr">
        Okay, since I like to google things that seems trivial out of daily
        experiences *or just random thoughts, I&#39;m starting a thread of
        those. <a href="https://t.co/BsgYCvkGaN">https://t.co/BsgYCvkGaN</a>
      </p>&mdash; Al (@alhrkn) <a
        href="https://twitter.com/alhrkn/status/1308629643264626688?ref_src=twsrc%5Etfw"
        >September 23, 2020</a
      >
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"
    ></script>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
