---
import ThemeToggleButton from "./ThemeToggleButton.svelte";
const { current = "" } = Astro.props;
---

<style>
  nav {
    align-items: center;
    display: flex;
    flex: 1;
    font-family: var(--font-family-sans);
    font-weight: 700;
    justify-content: flex-end;
    text-transform: uppercase;
  }

  a {
    color: inherit;
    text-decoration: none;
    padding: 10px 5px;
    display: block;
    position: relative;
    margin-left: 20px;
    min-width: 70px;
    text-align: center;
  }

  a:not(.selected) {
    opacity: 0.7;
  }

  a::before {
    content: "";
    position: absolute;
    transition: transform 0.3s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--text-secondary);
    transform: scaleX(0);
  }

  a:hover::before,
  .selected::before {
    transform: scaleX(1);
  }

  .selected::before {
    background: var(--primary-color);
  }

  .theme-toggle-container {
    /* width: 75px; */
    margin-left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
  }

  @media screen and (max-width: 520px) {
    .theme-toggle-container {
      margin-right: 1em;
    }
  }
  /* Add this to your component's styles */

  .dropdown-container {
    position: relative;
    display: inline-block;
  }

  .dropdown-button {
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .dropdown-content a {
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
  }

  .dropdown-container:hover .dropdown-content {
    display: block;
  }

  .dropdown-container:hover .dropdown-button {
  }
</style>

<nav>
  <a class={current === "" ? "selected" : ""} href="/">home</a>
  <a class={current === "about" ? "selected" : ""} href="/about">about</a>
  <div class="dropdown-container">
    <a
      class={current === "archive" ? "selected" : ""}
      href="#"
      class="dropdown-button">Archive</a
    >
    <div class="dropdown-content">
      <a href="/stories">Stories</a>
      <a href="/threads">Threads</a>
      <a href="/works">Works</a>
    </div>
  </div>
  <div class="theme-toggle-container">
    <ThemeToggleButton client:load />
  </div>
</nav>
